table {
	border-collapse: collapse;
	width: 100%;
	border: 1px solid #ddd;
}

thead {
	background-color: #282c34;
	color: #f2f2f2;
}

th[data-name]:hover {
  cursor: pointer;
	background: #ddd;
	color: black;
}

th,
td {
	text-align: left;
	border: 1px solid #ddd;
	border-bottom: 1px solid #ccc;
	padding: 8px;
}



tr:nth-child(even) {
	background-color: #eff1e0;
	background-color: #f2f2f2;
}

tbody tr:hover {
	background-color: #f5f5f5;
	background: #ddd;
}
