input,
select,
textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}

input[type=submit] {
	background-color: #ddd;
  color: black;
	padding: 14px 28px;
	border: none;
	border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

input[type=submit]:hover {
  background-color: #282c34;
	color: white;
}

.container {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
}

textarea {
	height: 200px;
}

.invalid, [name]:focus:invalid {
	outline-offset: -2px;
	outline: #f32929 solid 2px;
}

[name]:valid {
	outline-offset: -2px;
	outline: #4caf50 solid 2px;
}