section.message {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

section.message div {
	margin-bottom: 15px;
	padding: 4px 12px;
	border-radius: 5px;
	position: relative;
}

/* The close button */
.closebtn {
	position: absolute;
	top: 5px;
	right: 5px;
	color: black;
	font-weight: bold;
	font-size: 1.5rem;
	line-height: 1.5rem;
	cursor: pointer;
	padding: 7px;
	transition: 0.3s;
}

.closebtn:hover {
	background-color: #555555;
	border-radius: 5px;
	color: white;
}

.danger {
	background-color: #ffdddd;
	border-left: 6px solid #f44336;
}

.success {
	background-color: #ddffdd;
	border-left: 6px solid #4caf50;
}

.info {
	background-color: #e7f3fe;
	border-left: 6px solid #2196f3;
}

.warning {
	background-color: #ffffcc;
	border-left: 6px solid #ffeb3b;
}

p strong {
	text-transform: capitalize;
}
