.pagination {
	display: inline-block;
}

.pagination li {
	display: inline;
}

.pagination li a {
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
	transition: background-color 0.3s;
	border: 1px solid #ddd;
}

ul.pagination li a:hover:not(.active) {
	background-color: #ddd;
	border-radius: 5px;
}

a:active,
a:hover {
	outline-width: 0;
}

.pagination a.active {
	background-color: #4caf50;
	color: white;
	border-radius: 5px;
}

.pagination a:first-child {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.pagination a:last-child {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
